*{
    font-family: "Roboto";
}

body{
    margin: 0;
}
.header, .footer{
    background-color: #1F2937;  
}

ul li{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: white;
}

#quote{
    background-color: #E5E7EB;
    display:flex;
    justify-content: center;
}

.white{
    color: #F9FAF8;
}

.bckgrd-white{
    color:white;
}

.txtdecor{ 
    font-size: 36px;
    color: #1F2937;
}

.two{
    width: 850px;
    font-weight: 300;
    margin-bottom:0;
    font-style: italic;
    
}

.bold{
    font-weight: 900;
}

.hero-main-txt{
    font-size: 48px;
    margin-bottom: 0;
}

.hdrlogotxt{
    font-size: 24px;
}

.hdrbox{
    width: 450px;
    height: 230px;
    background-color: #E5E7EB;
    display:flex;
    align-self: flex-end;
}

.hdrbox img{
    width: 100%;
    height:100%;
}


button{
    background-color: #3882F6;
    padding: 10px 20px;
    border-radius: 5px;
}

.calltoact button{
    border-radius: 8px;
    padding: 5px 25px;
} 

.calltoact{
    margin: 70px;
    background-color: #3882F6;
    padding: 50px 30px;
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    
}

.footer{
   padding: 15px;
   text-align: center;
}

.nav ul{
    display:flex;
    gap: 20px;
    align-self: center;
}

.nav{
    display:flex;   
    justify-content: space-between;
}

.hdr-container{
    width: 470px;
}

.hdr-content{
    display:flex;
    justify-content: space-between;
}

.hdr-outer-container{
    width:1300px;
    height: 600px;
    display:flex;
    flex-direction: column; 
    gap: 50px;
}

.header{
    display:flex;
    justify-content: center;
}

.box-outer-container{
    width: 750px;
    display:flex;
    gap: 80px;
}

.box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    width: 150px;
    height:150px;
    border:2px  solid skyblue;
    border-radius: 20px;
}

.box-container img{
    width:100%;
    height:100%;
    border-radius: 20px;
}

.box-container p{
    text-align: center;
}

#body1{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

#name{
    font-size: 18px;
    color: black;
    align-self: flex-end;
    margin-top: 0;
}

.hero-logo-txt{
    font-size: 18px;
    color: #E5E7EB;
}

.quote-container{
    width: 900px;
    padding: 50px;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.left{
    display:flex;
    flex-direction: column;
}

.bold2{
    font-weight: bold;
}

.left p {
    margin: 0;
}

